.orders {
  display: flex;
  flex-direction: column;
}

.orders-container {
  margin: 1rem 5rem 0rem 5rem;
}

.order-container {
  margin: 1rem 5rem 0rem 5rem;
  width: 600px;
}

.orders-container > h2 {
  margin-top: 0;
}

.order {
  background-color: var(--white);
  border: 1px solid var(--outline);
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 600px;
  margin-left: 20px;
}

.order > * {
  padding: 0.5rem;
}

.order-info {
  color: var(--outline);
  font-family: "Roboto", sans-serif;
}

.order > footer {
  display: flex;
  border-top: 1px solid var(--outline);
  align-items: center;
  justify-content: space-between;
}

.order > footer > * {
  flex-basis: 22%;
}


.pagination-button {
  background-color: var(--dark); 
  color: var(--white); 
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: var(--outline); 
}
